# Express Backend Port
PORT=4071

# Expo Mobile Frontend Port
EXPO_PORT=4070

# Database Configuration
DATABASE="stage"
DATABASE_URL=postgres://postgres:admin@localhost:5432/mathematador_app
STAGE_DATABASE_URL=postgres://postgres:admin@localhost:5432/mathematador_app
NO_DATABASE_SSL="yes"

# JWT Token Secret
JWT_SECRET="secret"
EXPO_PUBLIC_JWT_SECRET="secret"
EXPO_PUBLIC_API_URL="http://localhost:4071"

# Disable React Navigation compatibility check for Expo SDK 56
EXPO_ROUTER_DISABLE_RN_NAVIGATION_CHECK=1
