# The public API URL of the backend server that the client app makes requests to
EXPO_PUBLIC_API_URL="http://localhost:4076"

# The JWT secret used by the client app (must match the backend server's JWT_SECRET)
EXPO_PUBLIC_JWT_SECRET="secret"
