# Express Backend Port
PORT=4076

# Database Configuration
DATABASE="stage"
DATABASE_URL=postgres://postgres:admin@localhost:5432/mathematador_app
STAGE_DATABASE_URL=postgres://postgres:admin@localhost:5432/mathematador_app
NO_DATABASE_SSL="yes"

# JWT Token Secret
JWT_SECRET="secret"
